<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CS172 Project</title>
        <meta charset="utf-8" />
            {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type = "text/css"/>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
                
        <style type="text/css">
        </style>
    </head>
    <body>
        <div class="row" style="background-color:#ffffff">
            <div class="container">
                <ul id="nav">
                    <button type="submit"> <a href="..">Home</a> </button>
                    <button type="submit"> <a href="../search/">Search</a> </button>
                    <button type="submit"> <a href="../search_sentiment/">Sentiment</a> </button>
                </ul>
            </div>
        </div>
        <div> {{ m|safe }} </div>
    </body>


</html>